---
---

@import "{{ site.theme }}";

body {
  font-family: 'Poppins', sans-serif !important;
}
.wrapper{
  width: 100%;
}
section{
  width: calc(100% - 270px);
}
header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
